#container{
    background-color:rgb(241, 244, 244);
    min-height: 100vh; 
}

#carousel{
    margin: 60px;
}

.carousel-item  img{
    height: 65vh;
    border-radius: 12px;
}

.explore-container{
    display:flex;
    justify-content: center;
    margin: 10px;
    margin-top: 100px;
}

.explore-container .form h4,.explore-sites h4 , .about-us h4 ,.about-text h4{
      text-align: center;
       margin:10px;  
}
.explore-container .vr{
    height: 200x;
    border: 2px solid #000;
}
 .form .form-container{
   margin-left: 90px;
   margin-top: 20px;
   width: 75%;
   padding: 15px;
}
.explore-sites #card-container{
    display: flex; 
    justify-content: center;
    padding: 15px; 
} 

.card{
    width: 27%;
    margin: 10px;
    padding:10px;
/*     border: 2px solid #7875753b; */
    border: 2px solid red;
} 

.explore-sites .card-container .card img{
    width: 80%;
    margin: 30px;
    border-radius: 12px;
    align-items: center;
}
.explore-sites .card-container .card .card-body{
    justify-items: center;
} 
.explore-sites .card-container .card,.card-body, .card-title,.card-text{
    text-align:center;
    letter-spacing: 1px;
}
.about-us{
    display: flex;
    justify-content: center; 
    margin: 10px;
    margin-top: 100px;
} 
 .about-us .about-img{
    width:85%;
    border-radius: 16px;
    margin: 20px;
}
.about-us .about-text p{
    margin: 15px;
     padding: 12px; 
    text-align: center;
    letter-spacing: 1px;
}





